
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: "poppins"; sans-serif;
}
d
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-color: rgb(122, 85, 158);
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display:inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding:0px 30px ;
    color: white;
    text-decoration: none;
}
nav li a:hover{
    color: orangered;
    transition: all 0.5s ease 0s;
}
.portfolio{
    font-size: 25px;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
}
img{
    max-width: 100%;
}
.image {
    position:relative; left:100px;
    flex-basis: 40%;
}
.text1{
    font-size: 30px;
    padding-left: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .image2  {
    flex-basis: 40%;
    position:relative; left:-60px;
  }
  
  .text2 {
    font-size: 30px;
    padding-left: 20px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
.about{
    color: blueviolet;
    font-size: 40px;
}
.me{
    font-size: 30px;
}
.contact-box{
    width: 500px;
    background-color: grey; #fff;
    box-shadow: 0 0 20px 0; #999;
    top: %;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
}
form{
    margin: 36px;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid #777;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}
.btn{
    border-radius: 20px;
    color:grey ;
    margin-top:18px ;
    padding: 10px;
    background-color: greenyellow;
}